<mat-card class="c-news">
  <mat-list role="list">
      <h2 class="text-center">Noticias</h2>
    <mat-list-item class="new" role="listitem">
        <h4 matLine class="message">
            <blockquote >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deleniti in facere inventore at eveniet saepe, dolorem odit consectetur reiciendis.
            </blockquote>
        </h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="new" role="listitem">
        <h4 matLine class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deleniti in facere inventore at eveniet saepe, dolorem odit consectetur reiciendis.</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="new" role="listitem">
        <h4 matLine class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deleniti in facere inventore at eveniet saepe, dolorem odit consectetur reiciendis.</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="new" role="listitem">
        <h4 matLine class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deleniti in facere inventore at eveniet saepe, dolorem odit consectetur reiciendis.</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="new" role="listitem">
        <h4 matLine class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deleniti in facere inventore at eveniet saepe, dolorem odit consectetur reiciendis.</h4>
    </mat-list-item>
  </mat-list>
</mat-card>
