<mat-card class="c-home-buttons">
<div fxLayout="row"  fxLayoutAlign="center" fxFlex="100%" fxLayoutWrap fxShow >

  <mat-card fxFlex='22' class="text-center">
      <img mat-card-image class="responsive-img mt-1" src="https://tracker.moodle.org/secure/attachment/56206/Moodle-Icon-1024-corners.png" alt="">
  </mat-card>
  <mat-card fxFlex='22' class="text-center">
      <img mat-card-image class="responsive-img mt-1" src="https://tracker.moodle.org/secure/attachment/56206/Moodle-Icon-1024-corners.png" alt="">
  </mat-card><mat-card fxFlex='22' class="text-center">
      <img mat-card-image class="responsive-img mt-1" src="https://tracker.moodle.org/secure/attachment/56206/Moodle-Icon-1024-corners.png" alt="">
  </mat-card><mat-card fxFlex='22' class="text-center">
      <img mat-card-image class="responsive-img mt-1" src="https://tracker.moodle.org/secure/attachment/56206/Moodle-Icon-1024-corners.png" alt="">
  </mat-card><mat-card fxFlex='22' class="text-center">
      <img mat-card-image class="responsive-img mt-1" src="https://tracker.moodle.org/secure/attachment/56206/Moodle-Icon-1024-corners.png" alt="">
  </mat-card><mat-card fxFlex='22' class="text-center">
      <img mat-card-image class="responsive-img mt-1" src="https://tracker.moodle.org/secure/attachment/56206/Moodle-Icon-1024-corners.png" alt="">
  </mat-card>
</div>
</mat-card>
